.collapse navbar-collapse, img {
    border-radius: 50%;
}
.image3 {
    position: absolute;
    left: 90%;
}
.social-media-links {
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: center;    
    position: absolute;
    top: 90%;
    left: 10%;
}