* {
  scroll-behavior: smooth;
}
.collapse navbar-collapse,
img {
  border-radius: 50%;
}
.image3 img {
  width: 500px;
  height: 500px;
}
.social-media-links {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}
.insta {
  display: flex;
  flex-direction: row;
  gap: 30px;
  align-items: center;
  justify-content: end;
}
.youtube img {
  width: 39px;
  height: 39px;
}
.one {
  font-family: "Courier New", Courier, monospace;
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 30px;
}
nav {
  position: relative;
}
#body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 300px;
  margin-bottom: 50px;
}
.contact {
  display: flex;
  flex-direction: column;
  gap: 50px;
  justify-content: center;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.youtube {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}
.youtube a {
  text-decoration: none;
  color: grey;
}
.image {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.page2 {
  margin-top: 12%;
}
.image button {
  width: 500px;
  height: 100px;
}
.image img {
  width: 400px;
  height: 400px;
}
#minimalist:hover {
  cursor: pointer;
  size: 200px;
}
#streetwear:hover {
  cursor: pointer;
  size: 200px;
}
#grunge:hover {
  cursor: pointer;
  size: 200px;
}
#preppy:hover {
  cursor: pointer;
  size: 200px;
}
#y2k:hover {
  cursor: pointer;
  size: 200px;
}
#soft:hover {
  cursor: pointer;
  size: 200px;
}

/* Small-Screen Phones.... */
@media (max-width: 576px) {
  nav {
    position: relative;
  }
  #body {
    font-size: 10px;
    display: flex;
    flex-direction: column;
    gap: 100px;
  }
  #one {
    font-size: 15px;
  }
  .image3 img {
    width: 430px;
    height: 430px;
  }
  .social-media-links {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
  }
  .one h2,
  h1,
  p {
    text-align: center;
  }
  .youtube img {
    width: 39px;
    height: 39px;
  }
  .contact {
    position: absolute;
    left: 5%;
    right: 5%;
  }

  .image {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 6%;
    right: 6%;
  }

  .image button {
    width: 450px;
    height: 100px;
  }
  #container {
    display: flex;
    flex-direction: column;
  }

}
